<p>cart works!</p>
<!-- Offcanvas Bootstrap -->
<div
  *ngIf="isCartOpen"
  class="offcanvas offcanvas-end show d-block bg-white shadow"
  tabindex="-1"
  tabindex="-1"
  id="cartOffcanvas"
  aria-labelledby="cartOffcanvasLabel"
>
  <div class="offcanvas-header">
    <!-- <h5 id="cartOffcanvasLabel">My Cart ({{ totalShoppedProduct }})</h5> -->
    <h5 class="offcanvas-title">My Cart ({{ 1 }})</h5>
    <button type="button" class="btn-close" (click)="closeCart()"></button>
  </div>
  <div class="offcanvas-body">
    <!-- <div *ngIf="totalShoppedProduct === 0" class="text-center">
        <mat-icon class="text-muted" style="font-size: 50px;">shopping_bag</mat-icon>
        <p>Your cart is empty.</p>
      </div> -->
    <!-- <div *ngIf="totalShoppedProduct > 0">
        <ul class="list-group">
          <li *ngFor="let product of cartItems" class="list-group-item d-flex justify-content-between">
            <span>{{ product.name }}</span>
            <span>{{ product.quantity }} x {{ product.price | currency }}</span>
          </li>
        </ul>
      </div> -->
  </div>
</div>
